// Palette de couleurs

$nav-background-color: #fffdf7;

$link-color: #333333;

$banner-background-color: #E8F0E3;
$banner-background-color-secondary: #EBE3D3;

$cart-background-color: #F7F1EC;
$cart-items-background-color: #FFFDF7;

$btn-add-to-cart-background: #565656;